body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}


/* Style the list items */
.card {
  padding: 0px 40px 0px 40px;
}

/* Set all odd list items to a different color (zebra-stripes) */
.card:nth-child(odd) {
  background: #f9f9f9;
}

/* When clicked on, add a background color and strike out text */
.cardActive {
  background: #bbb3b3;
  color: #fff;
  text-decoration: line-through;
}

/* Style the header */
.header {
  padding: 5px 40px;
  color: black;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input, textarea, select {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

select {
  width: 20%;
  color: black;
}
