{% load static %}
<html>
    <head>
        <title>{% block title %} {% endblock %} | ToDo</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="{% static 'js/jquery.toaster.js' %}"></script>
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            <a href="{% url 'api_logout' api_name %}" id="LogoutButton" class="btn btn-info btn-lg" style="float: right; margin: 10px 30px;">
              <span class="glyphicon glyphicon-log-out"></span> Logout
            </a>
        {% endif %}
        {% block body %}{% endblock %}
        <p class="mt-5 mb-3 text-muted" style="text-align: center;">Source Code - <a href="https://github.com/pssukhwani/todo_list" target="_blank">GitHub</a></p>
        {% block js %}{% endblock %}
    </body>
</html>
