{% extends 'base.html' %}

{% load static %}

{% block title %}
    Task
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>To Do List</h2>
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="{% url 'api_task' api_name %}" id="taskAddForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea rows="10" cols="10" class="form-control" name="description" id="description" placeholder="Description" style="color: black"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Due Date Time</label>
                                <input type="text" class="form-control datepicker" name="datetime" placeholder="Set Due Date Time">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Set Alert Hours</label>
                                <input type="number" min="0" class="form-control" name="set_alert" value="0">
                            </div>
                            <small class="text-muted">This field is for to set hours before the due date and time of notification will be triggered</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Sub Task</label>
                                <select class="form-control" name="sub_task">
                                    <option value="SubTask">Sub Task</option>
                                    {% for item in task %}
                                        <option value="{{ item.id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </form>
            </div>
        </div>
        {% if task %}
{#            <form method="post" action="{% url 'home' %}" id="taskSearchForm">#}
{#                {% csrf_token %}#}
{#                <div class="row">#}
{#                    <div class="col-md-6">#}
{#                        <div class="form-group">#}
{#                            <label>Search</label>#}
{#                            <input type="text" class="form-control" id="search" placeholder="Search with Title" name="search">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
            <h2>Task</h2>
            {% for item in task %}
                <input type="checkbox" name="{{ item.id }}" data-url="{% url 'api_task_update' api_name %}" class="form-control checkinput" {% if item.state == 'completed' %} checked {% else %}{% endif %}>
                <small class="text-muted">If checked this will mark this and it's related tasks as completed</small>
                <div {% if item.state == 'completed' %} class="card bg-light mb-3 cardActive" {% else %} class="card bg-light mb-3" {% endif %}>
                    <div class="card-header">{{ item.title }}<a href="" class="badge badge-light float-right" data-toggle="modal" data-target="#myModal_{{ item.id }}">
                        <i class="fa fa-edit" style="font-size: 15px"></i></a>
                        <a href="{% url 'api_task_update' api_name %}" name="{{ item.id }}" class="badge badge-light float-right deleteTask"><i class="fa fa-trash" style="font-size: 15px"></i></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                    <small class="text-muted" style="text-align: right; padding-right: 15px;">{{ item.due_date }}</small>
                </div>
            {% endfor %}
            {% for modalitem in task %}
                <div class="modal" id="myModal_{{ modalitem.id }}">
                    <div class="modal-dialog">
                        <form class="form-horizontal taskModalForm" action="{% url 'api_task_update' api_name %}" method="post">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <input type="hidden" name="modalUpdate" value="True">
                                    <h4 class="modal-title">{{ modalitem.title }}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="id" value="{{ modalitem.id }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="title" class="col-form-label">Title:</label>
                                        <input type="text" class="form-control" name="title" value="{{ modalitem.title }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="description-text" class="col-form-label">Description:</label>
                                        <textarea class="form-control" name="description">{{ modalitem.description }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="date" class="col-form-label">Due Date Time:</label>
                                        <input type="text" class="form-control datepicker" name="date" value="{{ modalitem.due_date }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="setalert" class="col-form-label">Set Alert Hours:</label>
                                        <input type="number" min="0" class="form-control" name="set_alert" value="{{ modalitem.set_alert }}">
                                    </div>
                                    <small class="text-muted">This field is for to set hours before the due date and time of notification will be triggered</small>
                                    {% if modalitem.sub_task.all %}
                                        <div class="form-group">
                                            <strong for="setalert" class="col-form-label">Sub Task:</strong>
                                            {% for subtask in modalitem.sub_task.all %}
                                                <div class="form-group">
                                                    <label for="subtasktitle" class="col-form-label">Title:</label>
                                                    <input type="text" class="form-control subTaskTitle" name="subTaskTitle" value="{{ subtask.title }}" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="subtaskdescription" class="col-form-label">Description:</label>
                                                    <input type="text" class="form-control subTaskDescription" name="subTaskDescription" value="{{ subtask.description }}" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="subtaskduedate" class="col-form-label">Due Date Time:</label>
                                                    <input type="text" class="form-control subtaskduedate" name="subtaskduedate" value="{{ subtask.due_date }}" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="subtasksetalert" class="col-form-label">Set Alert Hours:</label>
                                                    <input type="number" min="0" class="form-control subtasksetalert" name="subtasksetalert" value="{{ subtask.set_alert }}" readonly>
                                                </div>
                                                <small class="text-muted">This field is for to set hours before the due date and time of notification will be triggered</small>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Save</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {
            $(".taskModalForm").submit(function (event) {
                var currentObject = $(this)[0];
                    $.ajax({
                        url: currentObject.action,
                        type: "POST",
                        data: $(currentObject).serialize(),
                        success: function (response) {
                            if (response.success) {
                                $.toaster({priority: 'success', title: 'Task', message: response.reason});
                                setTimeout(function () {
                                    location.reload();
                                }, 500);
                            } else {
                                debugger;
                                $.toaster({priority: 'danger', title: 'Task', message: response.reason});
                            }
                            event.preventDefault();
                        }, error: function () {
                            $.toaster({ priority: 'danger', title: 'Task', message: "Task with same title already exist"});
                        }
                    });
                    return false;
            });
            $(".taskdModalForm").validate({
                {#errorClass: "my-error-class",#}
                {#validClass: "my-valid-class",#}
                {#rules: {#}
                {#    title: "required",#}
                {#messages: {#}
                {#    title: "Please enter title",#}
                {#submitHandler: function (event) {#}
                {#    var currentObject = $(this.currentForm)[0];#}
                {#    debugger;#}
                {#    $.ajax({#}
                {#        url: currentObject.action,#}
                {#        type: "POST",#}
                {#        data: $(currentObject).serialize(),#}
                {#        success: function (response) {#}
                {#            if (response.success) {#}
                {#                $.toaster({priority: 'success', title: 'Task', message: response.reason});#}
                {#                setTimeout(function () {#}
                {#                    location.reload();#}
                {#                }, 500);#}
                {#            } else {#}
                {#                $.toaster({priority: 'danger', title: 'Task', message: response.reason});#}
                {#            }#}
                {#            event.preventDefault();#}
                {#        }, error: function () {#}
                {#            $.toaster({ priority: 'danger', title: 'Task', message: "Task with same title already exist"});#}
                {#        }#}
                {#    });#}
                {#    return false;#}
            });
            $(".checkinput").click(function () {
                var currentObj = $(this);
                var classObject = currentObj.next().next()[0].classList;
                var classList = classObject.value.split(" ");
                var className = "cardActive";
                var needCheck;
                if(classList.indexOf(className) === -1){
                    classObject.add("cardActive");
                    needCheck = true;
                } else {
                    classObject.remove("cardActive");
                    needCheck = false;
                }
                $.ajax({
                    url: currentObj.attr("data-url"),
                    type: "POST",
                    data: {"checked": currentObj.attr("name"), "needCheck": needCheck},
                    success: function (response) {
                        if (response.success) {
                            $.toaster({ priority : 'success', title : 'Task', message : response.reason});
                            setTimeout(function(){ location.reload();}, 500);
                        } else {
                            $.toaster({ priority : 'danger', title : 'Task', message : response.reason});
                        }
                    }, error: function () {
                        $.toaster({ priority : 'danger', title : 'Title', message : "Something went wrong"});
                    }
                });
                return false;
            });
            $(".deleteTask").click(function () {
                var confirmMessage = confirm("Are you sure you want to delete this and it's related tasks?");
                if (!confirmMessage) {
                    return false;
                }
                var currentObj = $(this);
                $.ajax({
                    url: currentObj.attr("href"),
                    type: "POST",
                    data: {"delete": currentObj.attr("name")},
                    success: function (response) {
                        if (response.success) {
                            $.toaster({ priority : 'success', title : 'Task', message : response.reason});
                            setTimeout(function(){ location.reload();}, 500);
                        } else {
                            $.toaster({ priority : 'danger', title : 'Task', message : response.reason});
                        }
                    }, error: function () {
                        $.toaster({ priority : 'danger', title : 'Title', message : "Something went wrong"});
                    }
                });
                return false;
            });
            $('.datepicker').datetimepicker({
                format: "DD/MM/YYYY HH:mm:ss",
                dayViewHeaderFormat: "DD/MM/YYYY HH:mm:ss"
            });

            $('#search').bind('keyup', function() {
                $('#taskSearchForm').submit();
            });

            $('#taskSearchForm').validate({
                submitHandler: function(form, event) {
                    $.ajax({
                        url: form.action,
                        type: "POST",
                        data: $(form).serialize(),
                        success: function (response) {
                            if (response.success) {
                                $.toaster({ priority : 'success', title : 'Task', message : response.reason});
                                setTimeout(function(){ location.reload();}, 500);
                            }
                        }, error: function () {
                            $.toaster({ priority : 'danger', title : 'Title', message : "Something went wrong"});
                        }
                    });
                    return false;
                }
            });

            $("#taskAddForm").validate({
                errorClass: "my-error-class",
                validClass: "my-valid-class",
                rules: {
                    title: "required",
                },
                messages: {
                    title: "Please enter title",
                },
                submitHandler: function(form, event) {
                    $.ajax({
                        url: form.action,
                        type: "POST",
                        data: $(form).serialize(),
                        success: function (response) {
                            if (response.success) {
                                $.toaster({ priority : 'success', title : 'Task', message : response.reason});
                                setTimeout(function(){ location.reload();}, 500);
                            } else {
                                $.toaster({ priority : 'danger', title : 'Task', message : response.reason});
                            }
                            event.preventDefault();
                        }, error: function () {
                            $.toaster({ priority : 'danger', title : 'Task', message : "Task with same title already exist"});
                        }
                    });
                    return false;
                }
            });
        });
    </script>
{% endblock %}
