{% extends 'base.html' %}

{% load static %}

{% block title %}
    Task
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>To Do List</h2>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="email" class="form-control" id="title" placeholder="Enter Title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea rows="10" cols="10" class="form-control" name="description" id="description" placeholder="Description" style="color: black"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Due Date</label>
                                <input type="text" class="form-control" name="date" id="datepicker" placeholder="Due Date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Sub Task</label>
                                <select class="form-control">
                                    <option value="SubTask">Sub Task</option>
                                    {% for item in task %}
                                        {% if item.task_type == 'standalone' %}
                                            <option value="{{ item.id }}">{{ item.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </form>
            </div>
        </div>
        <h2>Task</h2>
        <div class="card-deck col-md-12">
            {% for item in task %}
                {% if item.task_type == 'standalone' %}
                    <div class="card col-md-3">
                        <strong class="text-center">{{ item.title }}<a href="" class="badge badge-light float-right">
                            <i class="fa fa-edit" style="font-size: 15px"></i></a>
                            <a href="" class="badge badge-light float-right"><i class="fa fa-trash" style="font-size: 15px"></i></a>
                        </strong>
                        <div class="card-body text-center">
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{#            <ul id="myUL">#}
{#                {% for item in task %}#}
{#                    {% if item.task_type == 'standalone' %}#}
{#                        <li {% if item.state == 'completed' %}class="checked"{% endif %} data-model-name="{{ item.id }}">{{ item.title }}</li>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('#datepicker').datetimepicker();
        });
        var myNodelist = document.getElementsByTagName("LI");
        var i;
        for (i = 0; i < myNodelist.length; i++) {
          var deleteSpan = document.createElement("a");
          var editSpan = document.createElement("a");
          var deletetxt = document.createTextNode("\u00D7");
          var editTxt = document.createTextNode("\u270E");
          deleteSpan.className = "close";
          editSpan.className = "edit";
          deleteSpan.appendChild(deletetxt);
          editSpan.appendChild(editTxt);
          myNodelist[i].appendChild(deleteSpan);
          myNodelist[i].appendChild(editSpan);
        }

        // Click on a close button to hide the current list item
        var close = document.getElementsByClassName("close");
        var i;
        for (i = 0; i < close.length; i++) {
          close[i].onclick = function() {
            var div = this.parentElement;
            div.style.display = "none";
          }
        }

        // Add a "checked" symbol when clicking on a list item
        var list = document.querySelector('ul');
        var Allcard = $(".card-deck");
        Allcard.addEventListener('click', function(ev) {
          if (ev.target.tagName === 'div') {
              var checked;
              if (ev.target.classList.value == "checked") {
                  checked = false;
              } else {
                  checked = true;
              }
              var objData = {
                  "objId": ev.target.getAttribute("data-model-name"),
                  "checkedOrNot": checked,
              };
              var url = "";
              $.ajax({
                  url: url,
                  type: "POST",
                  data: objData,
                  success: function (response) {
                      if(response.success) {
                          ev.target.classList.toggle('checked');
                          $.toaster({ priority : 'success', title : 'Task', message : "Task Completed"});
                      } else {
                          $.toaster({ priority : 'danger', title : 'Task', message : "Something went wrong"});
                      }
                  }, error: function () {
                      $.toaster({ priority : 'danger', title : 'Task', message : "Something went wrong"});
                  }
              });
          }
        }, false);

        // Create a new list item when clicking on the "Add" button
        function newElement() {
          var li = document.createElement("li");
          var inputValue = document.getElementById("myInput").value;
          var inputNode = document.createTextNode(inputValue);
          li.appendChild(inputNode);
          if (inputValue === '') {
            $.toaster({ priority : 'danger', title : 'ToDo', message : "Title cannot be empty"});
          } else {
            document.getElementById("myUL").appendChild(li);
          }
          document.getElementById("myInput").value = "";
          document.getElementsByTagName("textarea")[0].value = "";
        }
    </script>
{% endblock %}
